<div class="movie-item">
    <div class="movie-card">
        <img src="">
        <div class="rating">8.5</div>
    </div>
    <div class="movie-details">
        <h3>Barbie</h3>
        <div class="release-date">July 21, 2023</div>
    </div>
</div>