<div class="movie-item">
    <div class="movie-card">
        <img src="{{movie.poster}}" alt="">
        <div class="rating">{{movie.rating}}</div>
    </div>
    <div class="movie-details">
        <h3>{{movie.title}}</h3>
        <div class="release-date">{{movie.release}}</div>
    </div>
</div>