<div class="pagination">
    <a href="?page={{prevPage}}" class="prev  {{^if prevPage}}disabled{{/if}}">
        ← Previous
    </a>

    <a href="?page={{nextPage}}" class="next {{^if nextPage}}disabled{{/if}}">
        Next →
    </a>

</div>