<div class="container-fluid px-4 mb-3"
     style="background-color: rgba(44, 44, 44, 1); border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)">
    <div class="row justify-content-center">
        <h3 class="text-left pt-4 pb-2">Filters</h3>

        <hr class="border-4 rounded" style="border-color: white;">

        <form class="p-2">
            <!-- Movie Title -->
            <div class="form-group mb-2">
                <label class="form-label">Movie Title</label>
                <input type="text" class="form-control" placeholder="Enter the movie title">
            </div>

            <!-- Critic Name -->
            <div class="form-group mb-2">
                <label class="form-label">Critic Name</label>
                <input type="text" class="form-control" placeholder="Enter the critic's name">
            </div>

            <!-- Top Critic -->
            <div class="form-group mb-2">
                <label class="form-label">Top Critic</label>
                <div class="d-flex gap-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">True</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">False</label>
                    </div>
                </div>
            </div>

            <!-- Publisher Name -->
            <div class="form-group mb-2">
                <label class="form-label">Publisher Name</label>
                <input type="text" class="form-control" placeholder="Enter the publisher's name">
            </div>

            <!-- Review Type (Fresh/Rotten) -->
            <div class="form-group mb-2">
                <label class="form-label">Review Type</label>
                <div class="d-flex gap-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio">
                        <!-- TODO: icon -->
                        <label class="form-check-label">
                            <i class="bi bi-check-circle-fill" style="color: green;"></i> Fresh
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio">
                        <!-- TODO: icon -->
                        <label class="form-check-label">
                            <i class="bi bi-x-circle-fill" style="color: red;"></i> Rotten
                        </label>
                    </div>
                </div>
            </div>

            <!-- Review Date Range -->
            <div class="form-group mb-2">
                <label class="form-label">Review Date</label>
                <div class="d-flex gap-2">
                    <input type="date" class="form-control">
                    <input type="date" class="form-control">
                </div>
            </div>

            <!-- Score -->
            <div class="form-group mb-2">
                <label class="form-label">Score</label>
                <input type="text" class="form-control" placeholder="Enter the score">
            </div>

            <div class="d-flex gap-2 my-3">
                <button class="btn btn-primary w-50">Search</button>
                <button class="btn btn-danger w-50">Reset</button>
            </div>
        </form>
    </div>
</div>
