<div class="error">
    <h1 class="error">{{error_status}}</h1>
    <h2 class="error">{{error_name}}</h2>
    <p>{{error_message}} <a class="error" href="{{error_redirect}}">Click here</a> to redirect.</p>
</div>