<div class="container-fluid px-5">
    <div class="row g-4 py-4">
        <form id="filter-form">
            <!-- Movie Title Searchbar -->
            <div class="col-12">
                {{> movie-searchbar title=filters.obj.title}}
            </div>

            <!-- Movie Genre Filters -->
            <div class="col-12">
                {{> filter-checkboxes elements=genres active-elements=filters.obj.genre id="genre" name="Genre"}}

                {{> filter-checkboxes-search elements=languages active-elements=filters.obj.language id="language" name="Language"}}

                {{> filter-search active-elements=filters.obj.actor id="actor" name="Actor"}}
            </div>
        </form>
        <!-- Movie cards container -->
        <div class="col-12">
            <!-- Pagination centered at the top of the movie cards -->
            <div class="d-flex justify-content-center mb-3">
                {{> pagination prevPage=prevPage nextPage=nextPage}}
            </div>

            <div class="movie-grid">
                {{#each movies}}
                    {{> movie-card movie=this}}
                {{/each}}
            </div>

            <!-- Pagination centered at the bottom of the movie cards -->
            <div class="d-flex justify-content-center mt-3">
                {{> pagination prevPage=prevPage nextPage=nextPage}}
            </div>
        </div>
    </div>
</div>
