<div class="container-fluid px-5">
    <div class="row g-4 py-4">
        <form id="filter-form">
            <!-- Movie Title Searchbar -->
            <div class="col-12">
                {{> filter-main-searchbar title=filters.obj.title id="title" name="Movie Title"}}
            </div>

            <!-- Movie Filters -->
            <div class="col-12 d-flex justify-content-center gap-2 mt-4">
                {{> filter-checkboxes
                        elements=genres
                        active-elements=filters.obj.genre
                        id="genre" name="Genre"
                }}

                {{> filter-checkboxes-search
                        elements=languages
                        active-elements=filters.obj.language
                        id="language" name="Language"
                }}

                {{> filter-search
                        active-elements=filters.obj.actor
                        id="actor" name="Actor"
                }}

                {{> filter-range
                        min=1800 max=2999 step=1
                        type="number"
                        range-start=filters.obj.releaseYearGT
                        range-end=filters.obj.releaseYearLT
                        id="releaseYear" name="Release Year"
                }}

                {{> filter-search
                        active-elements=filters.obj.studio
                        id="studio" name="Studio"
                }}

                {{> filter-search
                        active-elements=filters.obj.crew
                        id="crew" name="Crew"
                }}

                {{> filter-range
                        min=1 max=72001 step=1
                        type="number"
                        range-start=filters.obj.runtimeGT
                        range-end=filters.obj.runtimeLT
                        id="runtime" name="Runtime"
                }}

                {{> filter-range
                        min=0 max=5 step=0.1
                        type="number"
                        range-start=filters.obj.ratingGT
                        range-end=filters.obj.ratingLT
                        id="rating" name="Rating"
                }}

                {{> filter-search
                        active-elements=filters.obj.character
                        id="character" name="Character"
                }}

                {{> filter-checkboxes-search
                        elements=countries
                        active-elements=filters.obj.productionCountry
                        id="productionCountry" name="Production Country"
                }}

            </div>
        </form>
        <!-- Movie cards container -->
        <div class="col-12">
            {{#if (eq pagingOptions.totalPages 0)}}
                <div class="error">
                    <h2 class="error">No results found</h2>
                </div>
            {{else}}
                <!-- Pagination centered at the top of the movie cards -->
                <div class="d-flex justify-content-center mb-3">
                    {{> pagination prevPage=prevPage nextPage=nextPage}}
                </div>

                <!-- Movie cards -->
                <div class="movie-grid">
                    {{#each movies}}
                        {{> movie-card movie=this}}
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
