<div class="container-fluid px-5">
    <div class="row g-4 py-4">
        <form id="filter-form">
            <!-- Movie Title Searchbar -->
            <div class="col-12">
                {{> movie-searchbar title=filters.obj.title}}
            </div>

            <!-- Movie all Filters -->
            <div class="col-12">
                {{> movie-filter}}
            </div>
        </form>
        <!-- Movie cards container -->
        <div class="col-12">
            <!-- Pagination centered at the top of the movie cards -->
            <div class="d-flex justify-content-center mb-3">
                {{> pagination prevPage=prevPage nextPage=nextPage}}
            </div>

            <div class="movie-grid">
                {{#each movies}}
                    {{> movie-card movie=this}}
                {{/each}}
            </div>

            <!-- Pagination centered at the bottom of the movie cards -->
            <div class="d-flex justify-content-center mt-3">
                {{> pagination prevPage=prevPage nextPage=nextPage}}
            </div>
        </div>
    </div>
</div>
