<div class="container-fluid my-4 px-5">
    <div class="row g-4 py-4">
        <form id="filter-form">
            <!-- Review Searchbar (movie title) -->
            <div class="col-12">
                {{> filter-main-searchbar title=filters.obj.movieTitle id="movieTitle" name="Movie Title"}}
            </div>

            <!-- Review Generic Filters -->
            <div class="col-12 d-flex justify-content-center gap-2 mt-4">
                {{> filter-search active-elements=filters.obj.criticName id="criticName" name="Critic Name"}}

                {{> filter-search active-elements=filters.obj.publisherName id="publisherName" name="Publisher Name"}}

                {{> filter-search active-elements=filters.obj.score id="score" name="Score"}}

                {{> filter-range
                        min=1800 max=2999 step=1
                        type="date"
                        range-start=filters.obj.reviewDateGT range-end=filters.obj.reviewDateLT
                        id="reviewDate" name="Review Date"
                }}

                <!-- is_top_critic -->
                {{> filter-radio elements=topCritics active-elements=filters.obj.isTopCritic id="isTopCritic" name="Top Critic"}}

                <!-- type -->
                {{> filter-radio elements=types active-elements=filters.obj.type id="type" name="Type"}}
            </div>
        </form>

        <!-- Review cards container -->
        <div class="col-lg-12">
            <!-- Pagination centered at the top of the review cards -->
            <div class="d-flex justify-content-center mb-3">
                {{> pagination prevPage=prevPage nextPage=nextPage}}
            </div>

            <div class="row g-3">
                {{#each reviews}}
                    <div class="col-6">
                        {{> review-card review=this}}
                    </div>
                {{/each}}
            </div>

            <!-- Pagination centered at the bottom of the review cards -->
            <div class="d-flex justify-content-center mt-3">
                {{> pagination prevPage=prevPage nextPage=nextPage}}
            </div>
        </div>
    </div>
</div>
