<div class="container-md my-4 px-5">
    <div class="row">
        <div class="col-lg-4">
            {{> review_filter}}
        </div>

        <!-- Movie cards container -->
        <div class="col-lg-8">
            <!-- Pagination centered at the top of the movie cards -->
            <div class="d-flex justify-content-center mb-3">
                {{> pagination prevPage=prevPage nextPage=nextPage}}
            </div>

            <div class="movie-grid">
                {{#each reviews}}
                    {{> review_card review=this}}
                {{/each}}
            </div>

            <!-- Pagination centered at the bottom of the movie cards -->
            <div class="d-flex justify-content-center mt-3">
                {{> pagination prevPage=prevPage nextPage=nextPage}}
            </div>
        </div>
    </div>
</div>

<script src="scripts/elementsPerPage.js"></script>