<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- TODO: add a filter -->
        </div>
        <div class="col-md-9">
            {{> pagination prevPage=prevPage nextPage=nextPage}}
            <div class="movie-grid"> <!-- TODO: change css style -->
                {{#each reviews}}
                    {{> review_card review=this}}
                {{/each}}
            </div>
            {{> pagination prevPage=prevPage nextPage=nextPage}}
        </div>
    </div>
</div>

<script src="scripts/elementsPerPage.js"></script>