<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="navbar-nav d-flex justify-content-center">
        {{#each navLinks}}
            <a class="nav-link {{#if (eq ../currentPath this.path)}}active{{/if}}" href="{{this.path}}">
                {{this.label}}
            </a>
        {{/each}}
    </div>
</nav>
