<div class="container-fluid">
    <div class="d-flex justify-content-center gap-3">
        <div class="dropdown">
            <!-- Header -->
            <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown"
                    style="background-color: rgba(44, 44, 44, 1);">
                genre
            </button>

            <!-- Container -->
            <ul class="dropdown-menu text-white px-2"
                style="border-radius: 10px 0 0 10px; background-color: rgba(44, 44, 44, 1);">
                <!-- Genre Options -->
                {{#each genres}}
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genre" value="{{this}}"
                                   {{#if (contains @root.filters.obj.genre this)}}checked{{/if}}
                            >
                            <label class="form-check-label" style="white-space: nowrap;">
                                {{this}}
                            </label>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="dropdown">
            <!-- Header -->
            <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown"
                    style="background-color: rgba(44, 44, 44, 1);">
                language
            </button>
            <!-- Container -->
            <ul class="dropdown-menu text-white px-2"
                style="border-radius: 10px 0 0 10px; background-color: rgba(44, 44, 44, 1);">
                <!-- Searchbar inside -->
                <li> <input class="form-control mb-2" type="text" placeholder="Search..."> </li>

                <!-- Language Options -->
                {{#each languages}}
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="language" value="{{this}}"
                                   {{#if (contains @root.filters.obj.language this)}}checked{{/if}}
                            >
                            <label class="form-check-label" style="white-space: nowrap;">
                                {{this}}
                            </label>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
